$black: #333333;
$white: #ffffff;
$white-grey: #f8f8f8;
$white-grey-middle: #ECECEC;
$orange: #f4831d;
$orange-middle: #AF4A0E;
$grey: #9a9a9a;
$grey-middle-light: #b6b2b2;
$grey-light: #e1e1e1;
$grey-dark: #575757;
$red: #c8475B;
$green: #00bb00;
$blue: #1676D1;