.filtersBar, .filtersBarWithCheckbox{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filtersBarWithCheckbox {
    padding-left: 5px;
    height: 100%;
    label {
        margin-right: 10px;
    }
}