@import "@/app/styles/_theme";

.buttonSave{
    background-color: $grey-dark;
    color: $white;
    border-radius: 8px;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 600;
    align-self: flex-end;
    margin-bottom: 14px;
    &:hover {
        opacity: 0.8;
    }
    &:active {
        opacity: 0.9;
    }
}
