.category{
    width: 100%;
    display: grid;
    grid-template-columns: .5fr 1fr 3fr .3fr;
    background: #fff;
    font-weight: 700;
    height: 60px;
    border-top: 2px solid #e1e1e1;
    cursor: pointer;
}

.categorySmall{
    font-size: 14px;
    font-weight: 400;
    height: 40px;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #e1e1e1;
    overflow: hidden;
}

.cell:last-child{
    border: none;
}

.cell img{
    width: 60px;
}

.cellStart{
    justify-content: space-between;
}

.cellLink:hover{
    color: #f4831d;
    text-decoration: underline;
}

.cellIcon{
    transform: rotate(0deg);
    transition: all .3s ease-in-out;
}

.cellIconActive{
    transform: rotate(180deg);
}