.tableContainer {
    position: relative;
    width: 900px;
    background: #fff;
    border: 2px solid #e1e1e1;
    border-radius: 10px;
    overflow: hidden;
}

.tableHeader {
    display: grid;
    grid-template-columns: .5fr 1fr 3fr .3fr;
}

.headerCell {
    background-color: #f8f8f8;
    border-right: 2px solid #e1e1e1;
    text-align: center;
    padding: 15px;
    font-weight: 700;
}

.headerCell:last-child {
    border-right: none;
}