@import "@/app/styles/_theme";

.tableContainer {
    position: relative;
    width: 100%;
    background: $white;
    border: 2px solid $grey-light;
    border-radius: 10px;
    overflow: hidden;
}

.tableHeader {
    display: grid;
    grid-template-columns: .6fr 1fr 5fr;
}

.headerCell {
    background-color: $white-grey;
    border-right: 2px solid $grey-light;
    text-align: center;
    padding: 10px;
    font-weight: 700;
    @media(max-width: 1350px){
        font-size: 16px;
        font-weight: 700;
    }
}

.headerCell:last-child {
    border-right: none;
}

.searchMessage {
    margin-top: 20px;
    font-weight: 600;
}