.menu{
    position: relative;
    width: fit-content;
}

.menuLabel{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
}

.menuButton{
    padding: 7px;
    background-color: #f8f8f8;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    font-size: 16px;
}

.menuItems{
    position: absolute;
    left: 0;
    top: 105%;
    width: 150px;
    max-height: 250px;
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    z-index: 10;
    overflow-y: auto;
}

.menuItem{
    padding: 5px 10px;
    cursor: pointer;
}

.menuItemActive{
    background-color: #f8f8f8;
}